@import "./vendor/stylesheet";
@import "./vendor/github-light";

.page-header {
    padding: 1rem 6rem;
}

.main-content {
    box-sizing: border-box;
}

body {
    background-color: #eee;
    font-family: Arial, Helvetica, sans-serif;
}
:global(.rst__lineBlock) {
  display: none !important;
}
:global(.rst__lineBlock) {
  display: none !important;
}

:global(.rst__highlightLineVertical) {
  display: none;
}

:global(.rst__highlightTopLeftCorner) {
  display: none;
}

:global(.rst__highlightBottomLeftCorner) {
  display: none;
}

:global(.rst__highlightBottomLeftCorner) {
  display: none;
}

:global(.rst__node) {
  border-top: 1px solid rgba(0,0,0,0.1);
  background: #fff;
}




/**
 * Uncomment to simulate bootstrap environment
) */
html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}
